.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

.echo {
  margin-top: 20px;
}

.count {
  margin-top: 20px;
}
